/* DEFINITION DES VARIABLES */
$mainFont: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
$outsideMargin: 80px;

@mixin flexStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin outsideMarginSize {
  margin-left: $outsideMargin;
  margin-right: $outsideMargin;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  //outline-style: solid;
}

html {
  display: flex;
  flex-direction: column;
}

hr {
    //margin-left: -90px;
    //margin-right: -90px;
    opacity: .6;
}

header {
  @include outsideMarginSize;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;

  ul {
    @include flexStyle;
    list-style-type: none;
    align-items: center;

    li {
      @include flexStyle;
      align-items: center;

      button {
        @include flexStyle;
        align-items: center;
      }
    }
  }

  img {
    max-width: 102px;
  }
}

nav {
  @include outsideMarginSize;
  margin: {
    top: 10px;
    bottom: 10px;
  }

  ul {
    @include flexStyle;
    list-style-type: none;

    li:last-child {
      button {
        border-radius: 30%;
      }
    }

    button {
      @include flexStyle;
      flex-direction: column;
      opacity: 0.6;
    }

    button:hover {
      opacity: 1;
    }
  }
}

main {
  //@include flexStyle;
  @include outsideMarginSize;

  .textPerticence {
    opacity: 0.9;
    margin: 30px 0px;
  }

  ul {
    @include flexStyle;
    flex-wrap: wrap;
    list-style-type: none;

    li {
      margin-bottom: 30px;
      position: relative;

      button img {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 5%;
        left: 85%;
      }
    }
  }

  img {
    width: 320px;
    height: 304px;
    border-radius: 40px;
  }
}

footer {
  @include flexStyle;
  @include outsideMarginSize;
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: white;
  line-height: 300%;

  ul {
    @include flexStyle;
    list-style-type: none;


    li {
      //@include flexStyle;
      //outline-style: solid;
    }
  }

}

button {
  background-color: white;
  border: none;
}

.filterButton {
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;

  border: {
    style: solid;
    width: 1px;
    opacity: .6;
  }
}

/*#filterButton {
  border {
    type: solid;
    size: 1px;
    opacity: .6;
  }*/
